@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-gray-50 text-gray-900;
        @apply min-h-screen;
    }
    
    ::selection {
        @apply text-white bg-blue-600;
    }
}

.swiper {height:300px}
.swiper-slide {margin:0 auto;text-align:center}

html.dark body {
  background: #000;
  color: #fff;
}

/* Todo */

.TodoTemplate {overflow:hidden;width:512px;margin:0 auto;border-radius:5px}
.app-title {display:flex;align-items:center;justify-content:center;height:4rem;background:#22b8cf;font-size:1.5rem;color:#fff}

.TodoInsert {display:flex;background:#495057}
.TodoInsert input {flex:1;background:none;outline:none;border:none;padding:0.5rem;font-size:1.25rem;line-height:1.5;color:#fff}

.TodoInsert &::placeholder {color:#dee2e6}

.TodoInsert button {display:flex;align-items:center;justify-content:center;padding:0 1rem;background:#868296;outline:none;border:none;font-size:1.5rem;color:#fff}

.TodoList {overflow-y:auto;min-height:320px;max-height:513px}

.TodoListItem {padding:1rem;display:flex;align-items:center;border-bottom:1px solid #dee2e6}
.TodoListItem:nth-child(even) {background:#f8f9fa}

.checkbox {cursor:pointer;flex:1;display:flex;align-center:center}
.text {flex:1}
.checked .text {color:#adb5bd;text-decoration:line-through}

.remove {cursor:pointer}